/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.LandingPage{
  text-align: center;
  background-color:#69233C;  /* Fundo azul */
  height: 100vh; /* Define a altura da página como 100% da altura da tela */
  overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
  width: 100%;
}


/* HEADER */

/* Estilo para o cabeçalho da Landing Page */
.LandingPage-header {
  display: flex;
  background-color: black; /* Fundo rosa */
  height: 10%; /* Define a altura do cabeçalho como 100 pixels */
  padding-top: 5px; /* Espaço do topo */
  padding-left: 20px; /* Espaço do lado esquerdo */
  padding-bottom: 5px;
  width: 100%;
}

.LandingPage-header .rounded-image {
  display: flex;
  border-radius: 500px; /* ou outro valor, dependendo do quanto deseja arredondar */
}


/* APRESENTAÇÃO */

.presentation-container{
  display:flex;
  justify-content: center;
  /*background-color:; /* Fundo lilás */
  justify-content: center;
  height: 30vw;
}

.presentation-text {
  margin-left: 50vw;
  margin: auto;
  text-align: left;
 /* background-color: /* Esta cor será aplicada */
  margin-right: 5vw; 
  transform: translate(-700px);
  opacity: 0;
  max-width: 450px;
  max-height: 450px;
  width: auto;

}

  .presentation-text-top {
    /*background-color:*/
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
    color: black;
  }
  

.presentation-text-bottom{
  /*background-color:*/
  font-size: 50px;
  font-family: "Newsreader", serif; 
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;

}

.presentation-image{
  align-items: right;
  display: flex;
  margin-left: 20vw; 
  margin-right: 15vw;
  max-width: 450px;
  max-height: 450px;
  max-width: 100%;
  height: auto;
  padding-top: 3vw;
  padding-bottom: 1vw;
  transform: translate(700px);
  opacity: 0;

}


/* BLOCOS */
.the-block{
  /*background-color:*/
  width: auto;
  height: auto;
  text-align: left;
  flex-direction: row;
  display:flex;
  color: white;
  margin: 5vw;
}
.blocks{
  display: flex;
  width: 350px;
  margin-left: 60px;
}

.block-one{
  opacity: 0; /* Inicialmente, definimos a opacidade como 0 para tornar o elemento invisível */
  animation: fadeIn 3.5s ease-in-out forwards; /* Defina a animação de entrada com uma duração de 2 segundos */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* A partir do estado inicial, com opacidade 0 */
  }
  to {
    opacity: 1; /* Até o estado final, com opacidade 1 */
  }
}

.block-two{
  opacity: 0; /* Inicialmente, definimos a opacidade como 0 para tornar o elemento invisível */
  animation: fadeIn 4.5s ease-in-out forwards; /* Defina a animação de entrada com uma duração de 2 segundos */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* A partir do estado inicial, com opacidade 0 */
  }
  to {
    opacity: 1; /* Até o estado final, com opacidade 1 */
  }
}

.sub-block-one {
  /*background-color: /* Cor de fundo amarela */
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif; 
  
  
}

.sub-block-two {
  /*background-color: /* Cor de fundo verde */
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif; 
}

.sub-block-three {
  /*background-color: /* Cor de fundo azul */
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  margin-top: 50px;
}

/*text-align: justify;   - CÓDIO PARA CASO O TEXTO SEJA JUSTIFICADO*/

.sub-block-one,
.sub-block-two {
  margin-bottom: -30px; /* Reduza este valor conforme desejado */
}
/* BANNER DE INFORMAÇÕES */

.information-banner{
  height: auto;
  width: 100%;
  background-color: #808080;
  padding-bottom: 20px;
  
}
.information-banner-text {
  text-align: left;
  display: flex;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  
}

.information-banner-blocks{
  /*background-color:*/
  display: flex;
  justify-content: center;
  align-items: center;
}


.information-banner-block-one,
.information-banner-block-two,
.information-banner-block-three {
  /*background-color: #ADD8E6; /* Light Blue */
  margin-left: 50px;
  margin-right: 50px;
  text-align: left;
}

.information-banner-title{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #69223C;
  font-weight: bold; /* Deixa a fonte mais gordinha */
}

.information-banner-block-text,
.information-banner-text{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

/* ABOUT ME */
.about-me-container{
  /*background-color: pink; /* Coral */
  text-align: left;
  padding-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.about-me-section{
 /* background-color: #0000FF;*/
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}



.about-me-title{
  /*background-color: #FFD700;*/
  font-family: "Newsreader", serif; 
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 25px;
  color: white;
  font-weight: bold;

}

.about-me-text{
  /*background-color: #731F3E;*/
  color: white;
}

.about-me-blocks{
  /*background-color: #00FF00;*/
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: Center; /* Alinha os elementos horizontalmente */
  width: auto;
  text-align: left;
  color:#69223c;
  padding-top: 60px;
}

.about-me-block-one,
.about-me-block-two,
.about-me-block-three{
  background-color: white;
  height: auto;
  width: auto;
  min-width: 200px ;
  min-height: 400px;
  border-radius: 50px;
  display: flex; /* Torna o container um flex container */
  flex-direction:column; /* Define a direção dos itens como vertical */
  margin-left: 100px;
  margin-right: 100px;
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: space-between;
  padding: 15px;
}

.about-me-block-one img,
.about-me-block-two img,
.about-me-block-three img {
}

.imagem-faculdade,
.imagem-pos-graduacao,
.imagem-cursos {
  width: 40px;
  height: 30px;
}

.title{
  font-family: "Newsreader", serif; 
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 20px;
}
.name-information,
.subtitle,
.duration{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif; 

}
.second-information-banner {
  display: flex;
  flex-direction: column;
  background-color:lightgray; /* Cor de fundo para o container pai */
  margin: 5vw;
  font-size: 25px; /* Tamanho da fonte */
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 2vw;
}

.second-information-banner-title {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  text-align: left;
  margin: 0; /* Remove a margem padrão */
  /*background-color: lightblue; /* Cor de fundo para o container do título */
  padding: 10px; /* Espaçamento interno */
  text-align: left;
}
.customers-say-title{
  text-align: left;
  padding: 10px 50px;
  font-family: "Newsreader", serif; 
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 25px;
  color: white;
  font-weight: bold;
}
.customers-say-blocks {
  display: flex; /* Usa flexbox para layout */
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
  justify-content: space-between; /* Espaço uniformemente entre os blocos */
}

.customers-block {
  background-color: #7F7F7F;
  flex: 0 0 calc(20% - 10px); /* Define a largura dos blocos com espaço entre eles */
  margin: 0 50px;
  border-radius: 50px;
  display: flex; /* Torna o container um flex container */
  flex-direction:column; /* Define a direção dos itens como vertical */
  justify-content: Center; /* Alinha os elementos horizontalmente */;
  padding: 20px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color:white;
}

.customers-block p {
  text-align: left; /* Alinha o texto à esquerda */
}

.customers-name {
  text-align: left; /* Alinha o nome do cliente à esquerda */
}

.imagem-apostrofo{
  align-items: left;
}

.contact-container {
  margin-top: 350px;
  /*background-color: teal;*/
  display: flex;
  justify-content: center;
}

.contact-information {
  background-color: #7F7F7F;
  margin-left: 30px;
  width: 35%;
  text-align: left;
  display: flex;
  padding: 5vw 3vw;
   color: white;

}

.contact-top {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color:white;
}

.contact-group {
  display: flex;
  flex-direction: column;
}

.contact-title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;  

}

.contact-text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;  
  padding-top: -150px;
}


.contact-fields{
  background-color: white;
  margin-right: 30px;  
  width: 65%;
  padding-left: 20px;
  
}

.contact-information,
.contact-fields {
  display: flex; /* Ativa o modelo de layout flexível para os elementos filhos */
  flex-direction: column; /* Alinha os itens verticalmente */
  justify-content: center; /* Centraliza verticalmente os itens */
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.form-group input[type="text"],
.form-group input[type="email"]{
  width: 40%;
  padding: 8px;
  border: none;
  border-bottom: 2px solid black; /* Adiciona a linha preta embaixo */
  box-sizing: border-box;
  transition: border-bottom-color 0.3s ease; /* Adiciona uma transição suave */
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif; 
}

.form-group textarea {
  width: 40%;
  padding: 5px;
  border: none;
  border-bottom: 2px solid black; /* Adiciona a linha preta embaixo */
  box-sizing: border-box;
  transition: border-bottom-color 0.3s ease; /* Adiciona uma transição suave */
  resize: vertical; /* Permite redimensionamento vertical */
  position: relative; /* Torna a posição relativa para posicionamento personalizado */
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif; 
}

/* Alinha o placeholder com a linha inferior do campo */
.form-group textarea::placeholder {
  position: relative; /* Torna a posição relativa */
  bottom: -16px; /* Ajusta a posição do placeholder para alinhá-lo com a linha preta */
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
  outline: none;
  border-bottom-color: blue; /* Altera a cor da linha quando o campo está em foco */
}

button[type="submit"] {
  width: 40%;
  background-color: #69223c;
  color: white;
  padding: 10px 20px;
  border: 2px solid #69223c; /* Adiciona uma borda sólida com a cor #69223c */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Adiciona transição suave para a cor de fundo e cor do texto */
}

button[type="submit"]:hover {
  background-color: white; /* Altera a cor de fundo para white quando o mouse passa por cima */
  color: #69223c; /* Mantém a cor do texto como #69223c quando o mouse passa por cima */
  border: 2px solid #69223c; /* Adiciona uma borda sólida com a cor #69223c */
}

.footer {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background-color: black;
  height: 13vw; /* Define a altura do footer como 100% da viewport height */
  margin-top: 80px;
  padding-top: 30px;
  color: white;
}


.social-medias {
  display: flex;
  justify-content: center; /* Alinha os elementos horizontalmente */
  align-items: center; /* Alinha os elementos verticalmente */
}

.social-medias img {
  margin: 0 10px; /* Adiciona um pequeno espaço entre os ícones */
}



.WhatsApp{
  position:fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
}

@media screen and (min-width: 500px) and (max-width: 980px) {
  .LandingPage-header {
    height: 5%; /* Define a altura do cabeçalho como 100 pixels */
  }
  
  .LandingPage-header .rounded-image {
  
  }
  .presentation-container{

  }
  
  .presentation-text {
    max-width: 450px;
    max-height: 450px;
    width: 50%;
    margin-left: 8vw;
    height: auto;
  
  }
  
  /*transform: translate(-700px);
    //opacity: 0;*/
    .presentation-text-top {
      /*background-color: crimson;*/
      font-size: clamp(10px, 2vw, 20px); /* Define um tamanho de fonte entre 12px e 24px, com base no tamanho da viewport */
      
    }
    
  
  .presentation-text-bottom{
    /*background-color: darkviolet;*/
    font-size: clamp(18px, 3vw, 30px); /* Define um tamanho de fonte entre 12px e 24px, com base no tamanho da viewport */
  }
  
  .presentation-image{
    display: flex;
    margin-left: 30vw; 
    margin-right: 15vw;
    max-width: 300px;
    max-height: 300px;
    max-width: 100%;
    height: auto;
  }
  .the-block{
    /*background-color: aquamarine;*/
    width: 100%;
    height: auto;
    display: flex;
    text-align: left;
  }
  
  .blocks{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
  }
  
  .block-one{
    opacity: 0; /* Inicialmente, definimos a opacidade como 0 para tornar o elemento invisível */
    animation: fadeIn 2.5s ease-in-out forwards; /* Defina a animação de entrada com uma duração de 2 segundos */
    width: 40vw;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; /* A partir do estado inicial, com opacidade 0 */
    }
    to {
      opacity: 1; /* Até o estado final, com opacidade 1 */
    }
  }
  
  .block-two{
    opacity: 0; /* Inicialmente, definimos a opacidade como 0 para tornar o elemento invisível */
    animation: fadeIn 3.5s ease-in-out forwards; /* Defina a animação de entrada com uma duração de 2 segundos */
    width: 40vw;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; /* A partir do estado inicial, com opacidade 0 */
    }
    to {
      opacity: 1; /* Até o estado final, com opacidade 1 */
    }
  }
  
  .sub-block-one {
   /* background-color: #FFD700; /* Cor de fundo amarela */
    font-size: clamp(20px, 3vw, 25px); /* Define um tamanho de fonte entre 12px e 24px, com base no tamanho da viewport */
  }
  
  .sub-block-two {
    /*background-color: #00FF00; /* Cor de fundo verde */
    font-size: clamp(10px, 3vw, 15px); /* Define um tamanho de fonte entre 12px e 24px, com base no tamanho da viewport */
  }
  
  .sub-block-three {
   /* background-color: #0000FF; /* Cor de fundo azul */
    font-size: clamp(10px, 3vw, 15px); /* Define um tamanho de fonte entre 12px e 24px, com base no tamanho da viewport */
    margin-top: 30px;
  }

  
  .sub-block-three {

  }
  
  /*text-align: justify;   - CÓDIO PARA CASO O TEXTO SEJA JUSTIFICADO*/
  
  .sub-block-one,
  .sub-block-two {
    margin-bottom: -19px; /* Reduza este valor conforme desejado */
  }

  .information-banner-blocks{
    flex-direction: row; /* Altera a direção dos elementos para uma linha */
  }
  .information-banner-blocks > .information-banner-block-one,
.information-banner-blocks > .information-banner-block-two,
.information-banner-blocks > .information-banner-block-three {
  width: 30%; /* Define a largura dos blocos para ocupar 30% do espaço disponível */
}
  .information-banner{
    justify-content: center;
  width: auto;
  text-align: left;
    
    
  }
  .information-banner-text {
    padding-left: 4vw;
  }
  
  .information-banner-blocks{
    justify-content: center;
    width: auto;
    text-align: left;
  }
  
  
  .information-banner-block-one,
  .information-banner-block-two,
  .information-banner-block-three {
    margin-left: 3vw ;
    margin-right: 3vw;
  }

  .about-me-blocks{
    flex-direction:column;
  }
  .about-me-blocks > * {
    margin-bottom: 20px; /* Adiciona uma margem inferior de 20px entre os elementos */
  }
  
  .about-me-block-one,
  .about-me-block-two,
  .about-me-block-three{
    width: 40%;
    min-width: 200px ;
    min-height: 200px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .title{
    font-size: clamp(15px, 3vw, 17px);
  }
  .name-information,
  .subtitle,
  .duration{
    font-size: clamp(15px, 3vw, 17px);
  }
  
}